{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!--Contains Start-->
<div class="container">
    <!--<div class="d-flex justify-content-center vh-100">-->
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card">
                <div class="card-body p-4">
                    <p class="text-center">Custom Password Reset Confirm!</p>
                </div>
                <form method="post">
                    <div class="text-center form-control">
                        {% csrf_token %}
                        <br>
                        <div>
                            {{ form.new_password1.label_tag }} <br>
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                        {{ form.new_password2.label_tag }} <br>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                        <br><br>
                        <button type="submit" class="btn btn-primary mt-1">Set Password</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!--Contains End-->

{% endblock %}